@model IEnumerable<NRLFrontEnd.Models.Team>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Captain)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Record.RecordId)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Coach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Captain)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Record.RecordId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.TeamName }) |
            @Html.ActionLink("Details", "Details", new { id = item.TeamName }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TeamName })
        </td>
    </tr>
}

</table>
