@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NRL</h1>
    <p class="lead">The National Rugby League (NRL) is an Australasian rugby league club competition which contains clubs from New South Wales, Queensland, Victoria, the Australian Capital Territory and New Zealand.</p>
    <p>
        @Html.ActionLink("Ladders", "Index", "Ladders")<br />
        @Html.ActionLink("Teams", "Index", "Teams")<br />
        @Html.ActionLink("Players", "Index", "Players")<br />
        @Html.ActionLink("Leagues", "Index", "Leagues")<br />
        @Html.ActionLink("Records", "Index", "Records")
    </p>

